p{
    padding: 0;
    margin: 0;
}
.collection-header{
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 716px;
    height: 60px;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(25px);
    z-index: 125;
    border-bottom: 0.7px solid rgba(151, 151, 151, 0.168);
}
.collections-header-text {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}
.collection-intro-container{
    position: relative;
    top: 95px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: fit-content;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    z-index: 119;
}
.collections-intro{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 1rem;
    height: 120px;
    background-color: rgb(4, 20, 29);
    color: rgb(255, 255, 255);
    border-radius: 15px;
}
.collections-intro-h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-weight: 850;
    padding: 0;
    margin: 0;
}
.create-collection-container{
    position: relative;
    top: 97px;
    display: flex;
    width: 95%;
    padding: 1rem;
    justify-content: flex-end;
    align-items: center;
    color: rgb(0, 0, 0);
    z-index: 120;
}
.create-collection-bttn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
    cursor: pointer;
    user-select: none;
}


.collection-editor{
    position: absolute;
    top: 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.459);
    width: 90%;
    height: 100vh;
    z-index: 128;
    border-radius: 15px;
}
.is-saving-collections{
    width: 98%;
    padding: 0.5rem;
}
.collection-input-name{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.input-name-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.field-name{
    font-weight: 880;
}
.input-name-collection{
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 10px;
    font-size: 1.1rem;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 0.2rem;
    color: rgb(0, 0, 0);
}

.collection-input-description{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.input-description-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.collection-description{
    resize: none;
    padding: 0.5rem 0.2rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    width: 80%;
    height: 80px;
    font-family: "Nunito", sans-serif;
}
.create-or-add-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(202, 202, 202, 0.233);
    padding: 1rem;
    gap: 1rem;
    margin-top: 1rem;
}

.add-older-post-container{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 15px;
    background-color: black;
    cursor: pointer;
    user-select: none;
}
.editor-container-collection{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    background-color: rgb(4, 20, 29);
    color: #ffffff;
    border-radius: 15px;
    padding: 1rem;
}
.journal-list{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    width: 95%;
    padding: 1rem;
    height: 30%;
    background-color: #d2d2d235;
    overflow-y: auto;
    flex-wrap: wrap;
}
.save-collection-container{
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    width: fit-content;
    padding: 0.5rem 0.8rem;
    background-color: #000000;
    color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}
.save-collection-container-disabled{
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    width: fit-content;
    padding: 0.5rem 0.8rem;
    background-color: #868686;
    color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}
.save-collection-container:hover{
    background-color: #353535;
}
.collection-cards-selected-old-post{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 25%;
    height: fit-content;
    padding: 1rem;
    gap: 0.5rem;
    background-color: #faf7edb3;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.older-post-container{
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    z-index: 129;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.459);
    overflow-y: hidden;
    overflow-x: hidden;
    gap: 1rem;
}
.older-loading-container{
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    z-index: 115;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.459);
}
.old-post-cards{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width:98%;
    height: fit-content;
    background-color: rgba(190, 190, 190, 0.241);
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.inview-container{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: red;
}

.old-post-cards-selected{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width:98%;
    height: fit-content;
    background-color: rgba(86, 196, 255, 0.241);
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.collection-journal-title{
    font-size: 1.2rem;
    font-weight: 880;
}
.collection-sliced-text{
    font-size: 0.9rem;
    color: #4a4a4a;
}

.cards-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}
.save-older-post-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.save-child-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.selected-post{
    padding: 0;
    margin: 0;
    font-weight: 660;
}
.save-older-post-button{
    padding: 0.2rem 0.8rem;
    border-radius: 10px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    user-select: none;
}
.cancel-older-post-container{
    padding: 0.2rem 0.8rem;
    border-radius: 10px;
    color: #000000;
    background-color: rgba(177, 177, 177, 0.162);
    cursor: pointer;
    user-select: none;
}

.journal-title{
    display: flex;
    width: 100%;
    height: fit-content;
    font-size: 1.4rem;
    font-weight: 860;
}
.journal-text{
    display: flex;
    width: 100%;
    height: fit-content;
    font-size: 0.9rem;
    color: #7d7d7d;
}


.collection-cards-container{
    position: relative;
    top: 115px;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: fit-content;
    min-height: 100%;
    width: 95%;
    background-color: rgb(255, 255, 255);
    z-index: 128;
    gap: 0.8rem;
    flex-wrap: wrap;
}
.collection-cards-loading-container{
    position: relative;
    top: 115px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 95%;
    background-color: rgb(255, 255, 255);
    z-index: 120;
    gap: 1rem;
}

.collection-cards-inview-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    z-index: 122;
}
.collection-cards{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 32%;
    height: 250px;
    background-color: #faf7edb3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    box-shadow: 0 1px 4px rgba(0,0,0,0.07);
}
.collection-illustration{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 180px;
}
.collection-illustraion-img{
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.collection-cards:hover{
    background-color: #ffeeb481;
}
.collection-name-container{
    display: flex;
    width: 93%;
    padding: 0.4rem 0.5rem;
    justify-content: space-between;
    font-weight: 760;
    font-size: 1.2rem;
    line-height: 1;
}
.collection-date-created{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    font-weight: 560;
    color: rgb(136, 136, 136);
    padding: 0.2rem 0.1rem;
    border-radius: 5px;
}
.collection-card-description{
    padding: 0rem 0.5rem;
    width: 93%;
    height: 100%;
    color: rgb(142, 142, 142);
    font-size: 0.7rem;
    font-weight: 560;
    line-height: 1.2;
}

.collection-journal-cards-container{
    display: flex;
    position: relative;
    top: 95px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.collection-journal-cards {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
    height: 100vh;
    padding: 1rem;
    z-index: 3;
    gap: 0.8rem;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
}
.collections{
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 320px;
    background-color: #faf7edb3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.07);
    cursor: pointer;
    transition: ease-in-out 0.1s;
}
.collections:hover{
    background-color: #ffeeb481;
}
.collections-title{
    display: flex;
    justify-content: flex-start;
    font-weight: 860;
    align-items: center;
    width: 93%;
    padding: 0 0.5rem;
}
.collections-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 93%;
    padding: 0.5rem;
    height: 100%;
    color: rgb(142, 142, 142);
    font-size: 0.7rem;
    font-weight: 560;
    line-height: 1.2;
}
.journal-collection-image{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.close-bttn-collection-cards{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 0.5rem 0;
}
.svg-close{
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.svg-close:hover{
    scale: 1.2;
}
.no-collections-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 129;
    background-color: #ffffff;
}
@media (max-width: 480px){
    .collection-header {
        position: fixed;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        width: 415px;
        height: 60px;
        user-select: none;
        background-color: rgba(255, 255, 255, 0.23);
        backdrop-filter: blur(25px);
        z-index: 129;
        border-bottom: 0.7px solid rgba(151, 151, 151, 0.168);
    }
    .collections-intro-h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif !important;
        font-weight: 850;
        padding: 0;
        margin: 0;
    }
    .collections-intro {
        text-align: center;
        font-size: 0.8rem;
    }

    .collection-cards {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 48%;
        height: 250px;
        gap: 0.25rem;
        background-color: #faf7edb3;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        cursor: pointer;
        transition: 
            ease-in-out 0.3s;
    }

    .create-or-add-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        height: 40px;
        border-radius: 10px;
        background-color: rgba(202, 202, 202, 0.233);
        padding: 1rem;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }

    .collection-cards-selected-old-post {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 30%;
        height: fit-content;
        padding: 1rem;
        gap: 0.5rem;
        background-color: #faf7ed;
        border-radius: 10px;
        cursor: pointer;
        transition: 
    ease-in-out 0.3s;
    }

    .collection-journal-cards-container {
        display: flex;
        position: absolute;
        top: 95px;
        width: 100%;
        max-height: fit-content;
        min-height: 100vh;
        align-items: flex-start;
        justify-content: center;
        z-index: 128;
        background-color: rgb(255, 255, 255);
    }
    .collection-journal-cards {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 95%;
        height: 95%;
        padding: 1rem;
        z-index: 3;
        gap: 0.8rem;
        background-color: rgb(255, 255, 255);
        flex-wrap: wrap;
    }

    .collections {
        display: flex;
        flex-direction: column;
        width: 48%;
        height: 320px;
        background-color: #faf7edb3;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
    }
    .collections-title {
        display: flex;
        justify-content: flex-start;
        font-weight: 860;
        font-size: 0.8rem;
        align-items: center;
        width: 93%;
        padding: 0 0.5rem;
    }
}