.bookmark-loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.bookmark-parent-container{
    position: relative;
    top: 90px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-bottom: 1rem;
}
.bookmarks{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: fit-content;
}
.boomarks-header{
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 718px;
    height: 60px;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(25px);
    z-index: 10;
    border-bottom: 0.7px solid rgba(151, 151, 151, 0.168);
}
.bookmarks-header-text{
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}
.inview-container{
    display: flex;
    width: 100%;
    height: 50px;
    position: relative;
}