.postcards-parent-container{
    position: relative;
    top: 90px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.postcards-parent-loading-container{
    position: relative;
    top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.loading-newsfeed-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.jounral-view-image{
    width: 400px;
    height: auto;
}
.inview{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 35px;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: fit-content;
    border-top: 0.7px solid  rgba(151, 151, 151, 0.363);
    cursor: pointer;
}
.cards:hover{
    background-color:rgb(245, 245, 245) ;
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 95%;
    padding: 1rem;
}
#card-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 50%;
    transition: ease-in-out 0.3s;
}


.like-button:hover .svg-like path{
    fill: rgb(255, 116, 116);
}
.like-button:hover{
    background-color: rgba(255, 161, 161, 0.295);
}
.comment-button:hover{
    background-color: rgba(149, 223, 255, 0.274);
}
.comment-button:hover .svg-comment path{
    fill: rgb(47, 154, 255);
}

.bookmark-button:hover{
    background-color: rgba(169, 255, 209, 0.358);
}
.bookmark-button:hover .svg-bookmark path{
    fill: rgb(72, 208, 135);
}


.user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-info-child-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 0.3rem;
    width: fit-content;
}
.user-post-settings{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    user-select: none;
}
.setting-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 5px;
    width: 200px;
    height: 150px;
    border-radius: 15px;
    z-index: inherit;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.user-info-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.user-avatar-container{
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}
.user-newsfeed-name{
    font-size: 1rem;
    font-weight: 660;
    letter-spacing: 0.02rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.user-newsfeed-name:hover{
    text-decoration: underline;
}
.name-info-separator{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    color: rgb(117, 127, 132);
    user-select: none;
}
.user-info-email-container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    user-select: none;
}
.user-info-email{
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    font-weight: 560;
    color: rgb(117, 127, 132);
}
.user-post-date-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    cursor: default;
    user-select: none;
}
.user-post-date{
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    font-weight: 560;
    color: rgb(117, 127, 132);
}
.feed-text-content-container{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}
.feed-text-content{
    padding: 0;
    margin: 0;
    font-weight: 550;
    color: rgb(66, 66, 66);
    line-height: 1.5rem;
}
.feed-title-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feed-title{
    margin: 0;
    padding: 0;
    line-height: 1.8rem;
    font-weight: 860;
}
.content-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
}

.feed-image-content-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    height: fit-content;
}
.journal-image{
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.card-icons-container{
    display: flex;
    width: 95%;
    padding: 0 1rem 1rem 1rem;
    height: 20px;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}
.card-icons{
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
}
.reading-time-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0.8rem;
    background-color: rgb(237, 237, 237);
    border-radius: 15px;
}
.reading-time-text{
    padding: 0;
    margin: 0;
    font-size: 0.6rem;
    font-weight: 560;
    color: rgb(57, 57, 57);
}

