.content-viewer-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: fit-content;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    border-left: 0.7px solid  rgba(151, 151, 151, 0.168);
    border-right: 0.7px solid rgba(151, 151, 151, 0.168);
}
.back-button-container{
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 718px;
    height: 50px;
    user-select: none;
    z-index: inherit;
    background-color: rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(25px);
}
.back-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 50%;
}
.back-button:hover{
    background-color:rgb(245, 245, 245) ;
    
}

.content-title{
    margin-top: 100px;
    padding: 3rem;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.content-title p{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-weight: 900;
    letter-spacing: -0.011em;
    line-height: 52px;
    font-size: 4rem;
}
.content{
    padding: 3rem;
    font-size: 1.2rem;
    font-weight: 550;
    margin-bottom: -0.46em;
}