.contentView-loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.content-viewer-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: fit-content;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    border-left: 0.7px solid  rgba(151, 151, 151, 0.168);
    border-right: 0.7px solid rgba(151, 151, 151, 0.168);
    overflow: auto;
}
.content-viewer-container::-webkit-scrollbar{
    display: none;
    width: 0;
    height: 0;
}
.back-button-container{
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 718px;
    height: 50px;
    user-select: none;
    z-index: inherit;
    background-color: rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(25px);
}
.back-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 50%;
}
.back-button:hover{
    background-color:rgb(245, 245, 245) ;
    
}

.content-title{
    margin-top: 100px;
    height: fit-content;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
.content-title p{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-weight: 900;
    letter-spacing: -0.011em;
    line-height: 52px;
    font-size: 4rem;
}
.content{
    width: 90%;
    font-size: 18px;
    font-weight: 450;
    margin-bottom: 2rem;
    margin-top: 1rem;
    letter-spacing: -0.003em;
    line-height: 28px
}
.content-avatar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}
.content-metadata-container{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 1rem 0;
}
.content-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.content-owner-name{
    font-weight: 660;
    font-size: 0.8rem;
    cursor: pointer;
}
.content-owner-name:hover{
    text-decoration: underline;
}
.follow-bttn{
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
    border-radius: 20px;
    border: 0.7px solid rgb(151, 151, 151);
    cursor: pointer;
    user-select: none;
    transition: ease-in-out 0.1s;
}
.unfollow-bttn{
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
    border-radius: 20px;
    border: 0.7px solid rgb(151, 151, 151);
    cursor: pointer;
    user-select: none;
    transition: ease-in-out 0.1s;
}
.unfollow-bttn:hover{
    color: rgb(255, 78, 78);
    border-color: rgb(255, 78, 78);
}
.content-created{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 0.2rem;
}
.content-created p{
    font-style: normal;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    font-weight: 500;
    color: rgb(126, 126, 126);
}
.read-time{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    background-color: rgb(237, 237, 237);
    border-radius: 15px;
    font-size: 0.6rem;
}
.icons-container{
    display: flex;
    gap: 2rem;
    align-items: center;
    height: 50px;
    width: 100%;
    border-top: 0.7px solid rgba(151, 151, 151, 0.168);
    border-bottom: 0.7px solid rgba(151, 151, 151, 0.168);

}
.like-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.comment-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.bookmark-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.like-button:hover .svg-like path{
    fill: rgb(255, 116, 116);
}
.like-button:hover{
    background-color: rgba(255, 161, 161, 0.295);
}
.comment-button:hover{
    background-color: rgba(149, 223, 255, 0.274);
}
.comment-button:hover .svg-comment path{
    fill: rgb(47, 154, 255);
}

.bookmark-button:hover{
    background-color: rgba(169, 255, 209, 0.358);
}
.bookmark-button:hover .svg-bookmark path{
    fill: rgb(72, 208, 135);
}

.content-view-countlike{
    font-size: 0.8rem;
}
.content-view-countComments{
    font-size: 0.8rem;
}
.content-view-countBookmarks{
    font-size: 0.8rem;
}
.content-viewer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}