.signup-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 25%;
    border-radius: 15px;
    gap: 2rem;
    z-index: 2;
    background-color: rgb(255, 255, 255);
}
.sign-up-bg-container{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}
.sign-up-bg-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.sign-in-bttn{
    color:  rgb(157, 139, 254);
    cursor: pointer;
}

.signUp-input{
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid rgba(151, 151, 151, 0.525);
    font-size: 1rem;
}
.signUp-input:focus{
    outline: none;
}
.signUp-logo{
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 10%;
    color: rgb(0, 0, 0);
    z-index: 2;
    background-color: rgb(255, 255, 255);
}
.error-message{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67%;
    color: rgb(255, 37, 37);
}
.submit-bttn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67%;
    padding: 1rem;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(41, 52, 58);
    user-select: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
.submit-bttn:hover{
    background-color: rgb(18, 61, 86);
}
.submit-bttn-disabled{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67%;
    padding: 1rem;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(41, 52, 58, 0.4);
    user-select: none;
    border: none;
    font-size: 1rem;
}
.length-counter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 0 0.4rem;
    border: 1px solid rgba(151, 151, 151, 0.525);
    border-radius: 4px;
    user-select: none;
}
.signup-loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.141);
    z-index: 2;
}

@media(max-width: 768px){
    .signup-page-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70%;
        width: 55%;
        border-radius: 15px;
        gap: 2rem;
    }

    .signUp-logo {
        border-radius: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55%;
        height: 10%;
        color: rgb(0, 0, 0);
    }
}
@media(max-width: 480px){
    .signup-page-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 95%;
        border-radius: 15px;
        gap: 1rem;
    }

    .signUp-logo {
        border-radius: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 10%;
        color: rgb(0, 0, 0);
    }
}
@media(max-width: 432px){
    .submit-bttn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 67%;
        padding: 1rem;
        border-radius: 10px;
        color: rgb(255, 255, 255);
        background-color: rgb(41, 52, 58);
        user-select: none;
        border: none;
        font-size: 0.8rem;
        cursor: pointer;
    }
    .submit-bttn-disabled{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 67%;
        padding: 1rem;
        border-radius: 10px;
        color: rgb(255, 255, 255);
        background-color: rgba(41, 52, 58, 0.4);
        user-select: none;
        border: none;
        font-size: 0.8rem;
    }
    .signUp-input{
        width: 100%;
        border: none;
        padding: 0.8rem;
        border-radius: 10px;
        background-color: transparent;
        color: rgb(0, 0, 0);
        border: 1px solid rgba(151, 151, 151, 0.525);
        font-size: 0.8rem;
    }

    .signup-page-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70%;
        width: 95%;
        border-radius: 15px;
        gap: 0.5rem;
    }

    .signUp-logo {
        border-radius: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 10%;
        color: rgb(0, 0, 0);
    }
}
