/* .mobile-navlink-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: red;
    z-index: 11;
    top: 495px;
} */
.mobile-navlink-profile-container{
     display: none;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}
.mobile-navlink-icon-container{
    width: 95%;
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}

@media (max-width: 428px){
    .mobile-navlink-container{
        position: fixed;
        display: flex;
        background-color: rgba(255, 255, 255, 0.575);
        backdrop-filter: blur(25px);
        justify-content: space-evenly;
        box-shadow: 2px 3px 10px 5px rgba(0, 0, 0, 0.355);
        align-items: center;
        width: 428px;
        height: 60px;
        z-index: 11;
    }
    
    .mobile-navlink-profile-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: fit-content;
    }
    .navlink-profile{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }
    .mobile-navlink-icon-container{
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80%;
    }
    .mobile-navlink-icons{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 480px){
    .mobile-navlink-container{
        position: fixed;
        display: flex;
        background-color: rgba(255, 255, 255, 0.575);
        backdrop-filter: blur(25px);
        justify-content: space-evenly;
        box-shadow: 2px 3px 10px 5px rgba(0, 0, 0, 0.355);
        align-items: center;
        width: 100%;
        height: 60px;
        z-index: 120;
        bottom: 0.2rem;
    }
    
    .mobile-navlink-profile-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: fit-content;
    }
    .navlink-profile{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }
    .mobile-navlink-icon-container{
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80%;
    }
    .mobile-navlink-icons{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}