.notifications-header{
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 716px;
    height: 60px;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(25px);
    z-index: 10;
    border-bottom: 0.7px solid rgba(151, 151, 151, 0.168);
}
.notification-loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.notifications-header-text{
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.notifications-container{
    position: absolute;
    top: 95px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}
.notification-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 150px;
    border-bottom: 0.7px solid rgba(151, 151, 151, 0.363);
}
.notification-cards-child-container{
    display: flex;
    width: 95%;
    height: 85%;
    align-items: center;
    justify-content: space-between;
}
.notification-inview-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}
.notification-icon-container{
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.notification-contents-container{
    display: flex;
    height: 100%;
    width: 95%;
}