.side-bar-container{
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0.5rem 0;
    width: 90%;
    height: 100%;
    gap: 0.8rem;
}
.sidebar-header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0 0 0 1.5rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.sidebar-links-active{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0 0.5rem 1rem;
    gap: 1rem;
    border-radius: 15px;
    cursor: pointer;
    transition: ease-in 0.1s;
    font-weight: 750;
    color: rgb(0, 0, 0);
}
.sidebar-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0 0.5rem 1rem;
    gap: 1rem;
    border-radius: 15px;
    cursor: pointer;
    transition: ease-in 0.1s;
    color: rgb(60, 60, 60);
}
.sidebar-links:hover{
    background-color:rgb(245, 245, 245) ;
}
.sidebar-links-active:hover{
    background-color:rgb(245, 245, 245) ;
}
.sidebar-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.sidebar-user-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}
.sidebar-avatar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap:  0.5rem;
}
.sidebar-metadata-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.sidebar-name{
    font-size: 1rem;
    font-weight: 660;
    letter-spacing: 0.02rem;
    margin: 0;
    padding: 0;
}
.sidebar-email{
    font-size: 0.8rem;
    color: rgba(151, 151, 151, 0.79);
}
.side-bar-logout-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: rgb(141, 120, 255);
    cursor: pointer;
}
.write-journal-bttn{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(4, 20, 29);
    font-weight: 650;
    transition: ease-in 0.1s;
}
.write-journal-bttn:hover{
    background-color: rgb(16, 56, 79);
}