.comment-parent-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    top: 200px;
    width: 90%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    z-index: 4;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    gap: 0.2rem;
}
.close-comment-bttn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
}
.close-comment-icon{
    fill: rgb(154, 154, 154);
    cursor: pointer;
}
.close-comment-icon:hover{
    fill: rgb(0, 0, 0);
}
.comments-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 1rem;
}

.comments-section::-webkit-scrollbar{
    width: 6px;
}
.comments-section::-webkit-scrollbar-thumb{
    background: rgb(27, 87, 121);
    border-radius: 4px;
}
.comments-section::-webkit-scrollbar-track{
    background-color: rgba(15, 59, 85, 0.501);
}

.comments-cards{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-left: 3px solid rgba(179, 179, 179, 0.384);
    margin-bottom: 0.5rem;
}
.comment-user-metadata-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 0.3rem;
    margin: 0 0.5rem;
    padding: 0.5rem 0;
}
.comment-user-metadata-container p{
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
}
.comments-avatar{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    user-select: none;
}
.commenter-name{
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}
.comment-date{
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
    font-size: 0.6rem;
    text-decoration: underline;
}

.comment{
    width: 90%;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    background-color: rgba(212, 230, 230, 0.349);
    margin-left: 0.5rem;
}
.comment p{
    margin: 0;
    padding: 0;
}

.comments-input-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: fit-content;
    margin-top: 1rem;   
}
.comments-input{
    font-family: "Nunito", sans-serif;
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    width: 70%;
    padding: 0.5rem;
    resize: none;
    overflow-y: auto;
    border: 0.7px solid rgba(151, 151, 151, 0.168);
    border-radius: 10px;
    
}
.comments-input:focus{
    outline: none;
}
.button-section{
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    width: 25%;
    gap: 1rem;
}
.comment-submit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 80px;
    border-radius: 15px;
    background-color: rgb(4, 20, 29);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
}
.comment-submit-button:hover{
    background-color: rgb(16, 56, 79);
}
.comments-counter-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50px;
}
.comments-counter{
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}
.see-more-comments-button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: underline;
    cursor: pointer;
    color: rgb(7, 57, 33);
    gap: 0.4rem;
}
.see-more-comments-button:hover{
    color: rgb(30, 161, 96);
}
.loading-comments-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.commented-by{
    padding: 0px;
    margin: 0px;
    font-size: 0.8rem;
    color: rgb(85, 85, 85);
}
.reply-button-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}
.reply-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    padding: 0.2rem 0.5rem;
    text-decoration: underline;
    cursor: pointer;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
    font-size: 0.8rem;
    gap: 0.4rem;
}
.show-reply-button{
    display: flex;
    margin-left: 0.5rem;
    padding: 0.2rem 0.5rem;
    text-decoration: underline;
    cursor: pointer;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
    font-size: 0.8rem;
}

.reply-button:hover{
    background-color:  rgba(164, 164, 164, 0.136);
}
.show-reply-button:hover{
    background-color:  rgba(164, 164, 164, 0.136);
}

.reply-comment-input-container{
    width: 100%;
    height: fit-content;
    padding: 0.5rem 0rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}
.reply-comment-input{
    width: 50%;
    font-family: "Nunito", sans-serif;
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    overflow-y: auto;
    border: 0.7px solid rgba(151, 151, 151, 0.168);
    border-radius: 10px;
    margin-left: 0.5rem;
    resize: none;
}
.reply-submit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 80px;
    border-radius: 15px;
    background-color: rgb(4, 20, 29);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
}
.reply-comment-input:focus{
    outline: none;
}
.reply-button-section{
    display: flex;
    width: fit-content;
}
.replies-counter-container{
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.submit-reply-loading-container{
    display: flex;
    margin-left: 1rem;
}
.show-more-replies-button{
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    text-decoration: underline;
    color: rgb(7, 57, 33);
    cursor: pointer;
}
/* mobile responsive */
@media (max-width: 428px){
    .comment-parent-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 1rem;
        top: 200px;
        width: 340px;
        height: 60%;
        background-color: rgb(255, 255, 255);
        z-index: 134;
        border-radius: 15px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        gap: 0.2rem;
    }
    .comment-cards {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 10px;
        border: 0.7px solid rgba(151, 151, 151, 0.168);
    }

    .comment-user-metadata-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: fit-content;
        /* gap: 0.3rem; */
        /* margin: 0 0.5rem; */
        padding: 0.5rem 0;
    }
    .comments-input-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: fit-content;
        margin-top: 1rem;
    }
    .commented-by {
        padding: 0px;
        margin: 0px;
        font-size: 0.7rem;
        color: rgb(85, 85, 85);
    }
    .comments-input {
        font-family: "Nunito", sans-serif;
        background-color: transparent;
        border: none;
        color: rgb(0, 0, 0);
        width: 90%;
        padding: 0.5rem;
        resize: none;
        overflow-y: auto;
        border: 0.7px solid rgba(151, 151, 151, 0.168);
        border-radius: 10px;
    }
    .button-section {
        display: flex;
        justify-content: space-between;
        align-content: flex-end;
        width: 100%;
        margin-top: 0.4rem;
    }
    .comment-submit-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        width: 80px;
        border-radius: 15px;
        background-color: rgb(4, 20, 29);
        color: rgb(255, 255, 255);
        cursor: pointer;
        border: none;
    }
}

@media (max-width: 480px){
    .comment-parent-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 1rem;
        top: 200px;
        width: 85%;
        height: 60%;
        background-color: rgb(255, 255, 255);
        z-index: 134;
        border-radius: 15px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        gap: 0.2rem;
    }
    .comment-cards {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 10px;
        border: 0.7px solid rgba(151, 151, 151, 0.168);
    }

    .comment-user-metadata-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: fit-content;
        /* gap: 0.3rem; */
        /* margin: 0 0.5rem; */
        padding: 0.5rem 0;
    }
    .comments-input-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: fit-content;
        margin-top: 1rem;
    }
    .commented-by {
        padding: 0px;
        margin: 0px;
        font-size: 0.7rem;
        color: rgb(85, 85, 85);
    }
    .comments-input {
        font-family: "Nunito", sans-serif;
        background-color: transparent;
        border: none;
        color: rgb(0, 0, 0);
        width: 90%;
        padding: 0.5rem;
        resize: none;
        overflow-y: auto;
        border: 0.7px solid rgba(151, 151, 151, 0.168);
        border-radius: 10px;
    }
    .button-section {
        display: flex;
        justify-content: space-between;
        align-content: flex-end;
        width: 100%;
        margin-top: 0.4rem;
    }
    .comment-submit-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        width: 80px;
        border-radius: 15px;
        background-color: rgb(4, 20, 29);
        color: rgb(255, 255, 255);
        cursor: pointer;
        border: none;
    }
}