.comment-parent-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    top: 200px;
    width: 90%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    z-index: 4;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    gap: 0.2rem;
}
.close-comment-bttn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
}
.close-comment-icon{
    fill: rgb(154, 154, 154);
    cursor: pointer;
}
.close-comment-icon:hover{
    fill: rgb(0, 0, 0);
}
.comments-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 1rem;
}

.comments-section::-webkit-scrollbar{
    width: 6px;
}
.comments-section::-webkit-scrollbar-thumb{
    background: rgb(27, 87, 121);
    border-radius: 4px;
}
.comments-section::-webkit-scrollbar-track{
    background-color: rgba(15, 59, 85, 0.501);
}

.comment-cards{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    border: 0.7px solid rgba(151, 151, 151, 0.168);
}
.comment-user-metadata-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 0.3rem;
    margin: 0 0.5rem;
    padding: 0.5rem 0;
}
.comment-user-metadata-container p{
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
}
.comments-avatar{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.commenter-name{
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    text-decoration: underline;
}
.comment-date{
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
    font-size: 0.6rem;
    text-decoration: underline;
}

.comment{
    width: 90%;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.comment p{
    margin: 0;
    padding: 0;
}

.comments-input-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: fit-content;
    margin-top: 1rem;   
}
.comments-input{
    font-family: "Nunito", sans-serif;
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    width: 70%;
    padding: 0.5rem;
    resize: none;
    overflow-y: auto;
    border: 0.7px solid rgba(151, 151, 151, 0.168);
    border-radius: 10px;
    
}
.comments-input:focus{
    outline: none;
}
.button-section{
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    width: 25%;
    gap: 1rem;
}
.comment-submit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 80px;
    border-radius: 15px;
    background-color: rgb(4, 20, 29);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
}
.comment-submit-button:hover{
    background-color: rgb(16, 56, 79);
}
.comments-counter-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50px;
}
.comments-counter{
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}
.see-more-comments-button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: underline;
    cursor: pointer;
    color: rgb(7, 57, 33);
    gap: 0.4rem;
}
.see-more-comments-button:hover{
    color: rgb(30, 161, 96);
}
.loading-comments-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


/* mobile responsive */
@media(max-width: 432px){
    .comment-parent-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 1rem;
        top: 200px;
        width: 400px;
        height: 60%;
        background-color: rgb(255, 255, 255);
        z-index: 4;
        border-radius: 15px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        gap: 0.2rem;
    }
}

@media(max-width: 392px){
    .comment-parent-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 1rem;
        top: 200px;
        width: 358px;
        height: 60%;
        background-color: rgb(255, 255, 255);
        z-index: 4;
        border-radius: 15px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        gap: 0.2rem;
    }
}

@media(max-width: 375px){
    .comment-parent-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 1rem;
        top: 200px;
        width: 338px;
        height: 60%;
        background-color: rgb(255, 255, 255);
        z-index: 4;
        border-radius: 15px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        gap: 0.2rem;
    }
    .comments-input {
        font-family: "Nunito", sans-serif;
        background-color: transparent;
        border: none;
        color: rgb(0, 0, 0);
        width: 60%;
        padding: 0.2rem;
        resize: none;
        overflow-y: auto;
        border: 0.7px solid rgba(151, 151, 151, 0.168);
        border-radius: 10px;
    }
    .comments-input-container {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        width: 100%;
        height: fit-content;
        margin-top: 1rem;
}
}